{{!-- needs template for handlebars to render into --}}
<h1>Sandwich Time!</h1>
<img src="../public/assets/img/sandwich.jpg" alt="cartoon sandwich">

<h2>Sandwiches made</h2>


<h2>Sandwiches eaten</h2>



{{!-- submit button for user input to be sent to database --}}